{{yield}}
{{#if snippetName}}
  <div class="FreestyleUsage-codeSnippet FreestyleUsage-codeSnippet--{{highlightJsTheme}}">
    {{code-snippet name=snippetHbs}}
    {{code-snippet name=snippetJs}}
    {{code-snippet name=snippetScss}}
  </div>
{{/if}}
